.top-execution-socket {
    margin-left: 5vw;
    margin-top: -1vw;
}

.bot-execution-socket {
    margin-left: 4vw;
    margin-top: -1vw;
    text-align: left;
    padding-bottom: 10px;
}

.socket.execute {
    background-color: white;
    border: 4px solid black;
    position: absolute;
}

.socket-spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.App .node.selected {
    background: rgba(110, 136, 255, 0.8);
    border: 2px solid rgb(6, 75, 6);
  }